
body{
    
    font-family: 'Roboto';
}
.imgc{
position: relative;
margin: 16px;
}
.sect{
    display: none;
    position: absolute;
    bottom: 25px;
    z-index: 1;
    margin-left: 33%;
}
.imgc1:hover{
    opacity: 0.5;
    
}

.imgc:hover .sect {
    
display: block;

}
.add li{
    list-style-type:none;
}
.about1{
    margin-left:7%;
    margin-right: 7%; 
}
.card{
border: 1px solid white;
}
.fa2{
    color:#09ecd0;
}


.servicecls{
    margin-left: 5%;
    margin-right: 10%;
}
    .cls1{
        margin-right: 0px;
        padding-right: 0px;
    }
    .cls2{
        margin-left: 0px;
        padding-left: 0px;
    }

.tcard:hover{
    box-shadow: 5px 8px 3px #808080;
}
.custom123{
    margin-left:5%; 
}
.lowbox{
    padding-left: 15%;
    padding-right: 15%;
}
.contact-co{
    margin-left: 5%;
    margin-right: 5%;
}
.navcls{
    background-color: black;
    color: white;

}

.divunder{
    height: 3px;
    background-color: aqua;
    display: none;
}
.nav-item:hover .divunder{
    display:block;
}
.margindiv{
    width: 100px;
    height: 8px;
}
.rel:hover{
    position: relative;
    bottom: 5px;

}
.newl{
    background-color: aqua;
}
.newl1{
padding-left:100px; 
}
.clientpic{
    width:100px;
    height: 100px;
}
